### Hw assignment 1

In [33]:
import pandas as pd
import numpy as np

In [34]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.95700908  0.27501238 -0.80770842 -0.01145384]

<class 'pandas.core.series.Series'>
0   -0.957009
1    0.275012
2   -0.807708
3   -0.011454
dtype: float64

In [35]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [36]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

### Create a series from a dictionary

In [37]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [38]:
print(d)

{'key_0': 2, 'key_1': '3', 'key_2': 5}

In [39]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [40]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [41]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

In [42]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])

In [43]:
# Check if series has NAs
s.hasnans

True

In [44]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

### Data Frames

In [45]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

### Check-in

In [50]:
# Q 1
s = pd.Series([1, -999, 5, -999], index = ['A', 'B', 'C', 'D'])

A    1.0
B    NaN
C    5.0
D    NaN
dtype: float64

In [51]:
# Q 2
s.mask(s == -999)

A    1.0
B    NaN
C    5.0
D    NaN
dtype: float64

In [52]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [55]:
# Q 3
df.columns = ['C1', 'C2']
df.columns

Index(['C1', 'C2'], dtype='object')