# subsetting 

Review core methods to select data from a 'pandas.DataFrame'

## Read in CSV

In [2]:
import pandas as pd

# Read in file, argument is the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# print data from read in csv
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [3]:
# Print data frame's last five rows
df.tail()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [4]:
# Print dat frame's column names
df.columns

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [6]:
# List the data types of each column
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [7]:
type(df.dtypes)

pandas.core.series.Series

In [8]:
# Print data fram'es shape: output is a tupe (# rows, # columns)
df.shape

(14, 13)

## Selecting a single column

Simplest case: selecting a single column by column name.

General syntax:
```
df['column_name']
```
This is an example of **label-based subsitting**. Which means we select data from our data frame using the *names* of the columns, *not theri position*

### Eample

In [13]:
# Select number of bird species observed at Mugu Lagoon in spring
mul_spring = df['MUL_spring']

mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [14]:
type(mul_spring)

pandas.core.series.Series

We can do label-based subsetting of a single column using attribute syntax
'df.column_name'

### Example

In [15]:
df.MUL_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

Favor 'df['column_name']' instead of 'df.column_name'

Why? because what if a column name matches an attribute of the data frame itself (ie count). or if lets say the column name has a space. 

## Selecting multiple columns..

... Using a list of column names. 

Syntax: 
```
df[ ['column_1', 'column_2', 'column_234']]
```

Notice: there are double square brackets (but you should think of them as inner and outter brackets)! This is because we are passing a list of names['column_1', 'column_2', 'column_234'] to the selected brackets []

### Example

In [17]:
# Select species abundance in Tijuana Estuary during winter and fall
tje_wf = df[['TJE_winter', 'TJE_fall']]

In [22]:
# Check the type of tje_wf and check the shape of the selection 
print(type(tje_wf))

print(tje_wf.shape)

<class 'pandas.core.frame.DataFrame'>
(14, 2)

### ... using a slice

To select a slice of the columns we will use a special case of `loc` selection.

Syntax:
```
df.loc[: , 'column_start': 'column_end']
```

'column_start' and 'column_end' = starting and ending point of column slice, slice includes both endpoints.

- the first value passed to 'loc' is used to select rows, using a ':' as teh row-selection parameter means "select all the rows"

### Example

In [24]:
# Select columns between CSM_winter and MUL_fall
csm_mul = df.loc[ : , 'CSM_winter':'MUL_fall']
csm_mul.head

<bound method NDFrame.head of     CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0         39.0        40.0      50.0        45.0         NaN      61.0
1         48.0        44.0       NaN        58.0        52.0       NaN
2         51.0        43.0      49.0        57.0        58.0      53.0
3         42.0        46.0      38.0        60.0        58.0      62.0
4         38.0        43.0      45.0        49.0        52.0      57.0
5         44.0        42.0      45.0        58.0        50.0      51.0
6         41.0        36.0      47.0        63.0        48.0      58.0
7         46.0        41.0      43.0        57.0        54.0      53.0
8         48.0        48.0      44.0        56.0        54.0      57.0
9         39.0        39.0      40.0        57.0        52.0      53.0
10        46.0         NaN      47.0        56.0         NaN      66.0
11        47.0        44.0      53.0        54.0        55.0      60.0
12        40.0        46.0      49.0        60.0        55.0      65.0
13        56.0        43.0      36.0        72.0        59.0      53.0>

### Selecting rows ...

## ... using a condition

Syntax:
```
df[condiiton_on_rows]
```
That 'condition_on_rows' can be many things.

### Example 
We are interested in all data after 2020

In [25]:
# Select all rows with year>2020 
post_2020 = df[df['year']>2020]
post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

condiiton for our rows = 'df['year']' >2020' this is a 'pandas.Series' with **boolean values** (True or False)
indicates which rows satisfy the condition year >2020

In [26]:
# Check the type of df['year'] >2020
print(type(df['year'] >2020))

# print the boolean series
df['year']>2020

<class 'pandas.core.series.Series'>

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

The above SHOWS that the Panda.Series is looking at the data input (aka looking for years which are greater than 2020, and it evaluates the series one row at a time so "false, false, false... true") when it gets to 2021

### Check-in 
Get the subset of the data frame on which the San Dieguito Wetland has at least 75 speices recorded during spring.

In [30]:
df[df['SDW_spring']>=75]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example 
Suppose we want to look at data from 2012 to 2015 (including both years.)

In [32]:
subset = df[df['year'].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

#subset = df[df['year'].between(2012,2015)]
- `df['year']` = column with year values, this a `pandas.Series`
- `df['year']. between()` If we look at the documentation, we can see that the method includes both endpoints. 
- `df['year'].between(2012,2015)` = a pandas.Series of boolean values indiciating which rows have year eqaual to 2012,2013,2014,2015
- when you put `df['year'].between(2012,2015)` in the selection brackets, we obtain the rows we need.

## Avoid using `loc` for selecting only rows.

It is equivalent to write

```
# Selecti rows with year<2015
df[df['year']<2015]
```
and 

```
df.loc[df['year']<2015, :]
```
In the second one: 
- using `df.loc[row-selection, column-selection]`
- the row selection is the condiiton `df['year']<2015`
- the column selection is `:` = all columns

### Selecting rows...

## ... USing multiple conditions

We can combine conditions to select rows by surrounding each in parenthes `()` and using the or operator '|' and the oeprator '&'

### Eample: or

In [33]:
# Selecting rows in CSM with more than 50 speices in winter or fall
df[(df['CSM_winter']>50) | (df['CSM_fall']>50)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Select rows in which both SM and SDW have more than 60 bird species during spring

In [34]:
df[ (df['CSM_spring'] >60) & (df['SDW_spring']>60)]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []